@CHARSET "UTF-8";

body {
	width: 840px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	font-family: Verdana, Arial, sans-serif;
}

#header {
	
}

#logo {
	float: left;
	position: relative;
	height: 40px;
}

#navbar {
	border-bottom: 1px solid black;
	background-color: #252525;
}

#navlinks {
	list-style: none;
	margin-top: 0px;
	padding-left: 6px;
	padding-top: 11px;
	margin-bottom: 10px;
	margin-left: 40px;
}

#navlinks li {
	display: inline;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -6px;
}

#navlinks li:HOVER {
	background-color: #1BAD50;
}

.navlinks-border-right {
	border-right: 1px solid #000;
}

.navlinks-border-left {
	border-left: 1px solid #747474;
}

#navlinks a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#user-panel {
	float: right;
	position: relative;
	top: -39px;
	right: 10px;
	padding: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style: none;
}

#user-panel a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

#login-link {
	background-color: #1BAD50;
	padding-top: 7px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#logout {
	margin: 0px;
}

#logout a {
	background-color: red;
	padding-top: 2px;
	font-size: 10pt;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}

#breadcrumbs {
	height: 20px;
	background-color: #252525;
	border-top: 1px solid #636363;
	text-align: center;
}

#page-name {
	color: #FFF;
	font-weight: bold;
	font-size: 12pt;
}

#login-form {
	margin-left: auto;
	margin-right: auto;
}

#content {
	margin-top: 5px;
}

#order-head table {
	width: 100%;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
	margin-top: 10px;
	font-size: 12pt;
}

#order-content {
	margin-top: 10px;
	border: 1px solid #929090;
}

#order-controls {
	text-align: right;
	padding: 10px;
	border-top: 1px solid #929090;
	background-color: #C2BEBE;
}

#order-controls a {
	text-decoration: none;
}

.product-list-box {
	border-bottom: 1px solid #C5C5C5;
}

.product-list-image {
	width: 200px;
	float: left;
	max-height: 300px;
}

.product-list-info {
	margin-left: 200px;
	padding: 20px;
	padding-left: 10px;
}

.product-list-info .product-title {
	font-weight: bold;
	margin-left: 4px;
	font-size: 15pt;
	border-bottom: 1px solid #888;
}

.product-list-cart-box {
	float: right;
	position: relative;
	bottom: 46px;
	right: 20px;
}

.product-list-cart-box .cart-added {
	background-color: #3CD13C;
	padding: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.order-block {
	background-color: #F3F5C5;
	text-align: justify;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #1A1A1A;
	padding-top: 5px;
}

.order-block-header {
	font-weight: bold;
	border-bottom: 1px solid #000;
	margin-bottom: 8px;
}

.order-block-header .commands {
	font-weight: normal;
	float: right;
	font-size: 10pt;
}

.order-block-header .commands a {
	text-decoration: none;
}

.history-item {
	border: 1px solid #646262;
	padding: 4px;
	margin-bottom: 10px;
}

.history-item pre {
	font-size: 10pt;
	margin: 0px;
}

.history-item-header {
	width: 100%;
	font-size: 10pt;
	margin-bottom: 0px;
	border: 1px solid #646262;
	border-collapse: collapse;
}

.history-item-header td {
	background-color: #D1D1D1;
	border-left: 1px solid #646262;
}