<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		
		<mapping class="model.entity.User" />
		<mapping class="model.entity.Translation" />
		<mapping class="model.entity.TranslationValue" />
		<mapping class="model.entity.Room" />
		<mapping class="model.entity.Module" />
		<mapping class="model.entity.Page" />
		<mapping class="model.entity.Course" />
		<mapping class="model.entity.CourseRole" />
		<mapping class="model.entity.Task" />
		<mapping class="model.entity.TaskLog" />
	</session-factory>
</hibernate-configuration>
