<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>VML</display-name>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
        <!-- <url-pattern>/room/*</url-pattern>
        <url-pattern>/module/*</url-pattern>
        <url-pattern>/page/*</url-pattern>
        <url-pattern>/common/*</url-pattern>
        <url-pattern>/login/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/language/*</url-pattern>
        <url-pattern>/course/*</url-pattern>
        <url-pattern>/file/*</url-pattern> -->
    </servlet-mapping>
    <!--<filter>
        <filter-name>screen</filter-name>
        <filter-class>filter.ScreenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>screen</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <jsp-config>
        <jsp-property-group>
            <display-name>common</display-name>
            <url-pattern>/WEB-INF/views/*</url-pattern>
            <include-prelude>/WEB-INF/fragment/prelude.jsp</include-prelude>
            <include-coda>/WEB-INF/fragment/coda.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
    <error-page>
        <location>/WEB-INF/views/error.jsp</location>
    </error-page>
</web-app>